<!doctype html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <style>
            html, body {
                margin:0;
                font-family:sans-serif;
            } main {
                display:flex;
                justify-content:space-around;
                background:hsl(258, 87%, 3%);
            } .panels {
                background:hsl(150, 50%, 60%);
                border:solid 1px black;
            } .titles {
                background:hsl(250, 50%, 50%);
                color:white;
                text-align:center;
            } dt {
                text-decoration:underline;
            } #pageName {
                background:hsl(250, 50%, 50%);
                text-align:center;
                margin:0;
                color:white;
                font-family:sans-serif;
                padding:1%;
            } #navigationBar {
                background:hsl(323, 93%, 29%);
                display:flex;
                justify-content:space-around;
                padding:1%;
            } .navElement {
                background:white;
                padding:1%;
                border-radius:1em;
             }
             @media (max-width:500px) {
                 main {
                     flex-direction:column;
                 }
             }

        </style>
    </head>
    <body>
<h2 id='pageName'>Information</h2>
    <nav>
        <nav id='navigationBar'>
            <div class='navElement'><a href='/home'>home</a></div>
            <div class='navElement'><a href='/info'>Info</a></div>
            <div class='navElement'><a href='/search'>Search</a></div>
            <div class='navElement'><a href='/messages'>messages</a></div>
            <div class='navElement'><a href='/editProfile'>profile</a></div>
    </nav>
<main>
    <section class='panels'>
        <h3 class='titles'>Tropical Western</h3>
        <dl>
            <dt>
                Aries
            </dt>
            <dd>
                Aries is the "me first" sign of the Zodiac. They can be impulsive and 
                energetic, as well as brave and adveventurous.
            </dd>
            <dt>
                Taurus
            </dt>
            <dd>
                Taurus, the second sign of the Tropical Zodiac is known for being 
                obstinate and steadfast. They are hardworkers, and enjoy the finer things in like such as food 
                and sensous pleasures.
            </dd>
            <dt>
                Gemini
            </dt>
            <dd>
                Gemini, the twins are known for their quicksilver duality. They are also 
                the sign of self-expression, and endowed with the gift of gab. They can also be found multitasking, 
                and can be a jack of all trades.
            </dd>
            <dt>
                Cancer
            </dt>
            <dd>
                Cancer is a secretive sign that enjoys home life and security. Ever the 
                breadwinner, the are financially savvy and intelligent. They are also very emotional, sensitive, 
                and humurous if you gain their trust.
            </dd>
            <dt>
                Leo
            </dt>
            <dd>
                Leo is the sign of pride. They are creative, generous, and popular. They 
                are very warm and kind, unless you cross them, in which case you will find out who is King of 
                the Jungle.
            </dd>
            <dt>
                Virgos
            </dt>
            <dd>
                Virgos are intelligent, analytical, and have a sense of realism they can become pessimistic. 
                They are also kind nurturers, with a knack for taste and class
            </dd>
            <dt>
                Libra
            </dt>
            <dd>
                Libra is the sign of partnership. The scales represent 
                a diplomatic nature, and intuitive sense of justice. They are also romantic, extravagant and endowed 
                with social grace. Ruled by Venus, Libra's are also an artistic sign.
            </dd>
            <dt>
                Scorpio
            </dt>
            <dd>
                Scorpio is the sign of new begininnings, regeneration, life and death. A sign of intensity, they 
                travel to places other signs are afraid to go. Also known as passionate lovers, they can be prone to jealousy and revenge. 
                They are also a sign of shared legacy.
            </dd>
            <dt>
                Sagittarius
            </dt>
            <dd>
                Sagitarrius is an optimistic adventurer, seeker of higher purpose. Depicted as an archer, they are 
                very direct, and sometimes suffer from foot-in-mouth syndrome. One could be seen as a jovial clownish philospher, seeking 
                higher knowledge of the world and beyond.
            </dd>
            <dt>
                Capricorn
            </dt>
            <dd>
                Capricorn is ambitious and determined to make it to the top. Hard working, pragmatic, and practical, 
                they ensure steadfast success ny any means neccessary to receive the social recognition they deserve.
            </dd>
            <dt>
                Aquarius
            </dt>
            <dd>
                Aquarians are unique visionaries with a proggressive humanitarian sensibility. They are social and 
                intellectual, innovative and interesting.
            </dd>
            <dt>
                Pisces
            </dt>
            <dd>
                Pisces, the last sign of the Zodiac, is a sign of mysticism and spirituality. 
                It's depiction as two fish swimming in opposite directions represents choice that is given to humans. Pisces sees into the 
                spirit world, which may result in self-delusion.
            </dd>
        </dl>
    </section>
    <section class='panels'>
        <h3 class='titles'>Chinese</h3>
        <dl>
            <dt>
                Rat
            </dt>
            <dd>
                The Rat is a charming opportunist, intelligent and quick-witted. They are 
                very sociable, persuasive, and their wisdom is valued amongst peers
            </dd>
            <dt>
                Ox
            </dt>
            <dd>
                The Ox is traditional, practical, and hardworking. They are steadfast in their 
                ways, and usually successful in their ambitions. They are diligent, honest, and have a knack 
                for leadership.
            </dd>
            <dt>
                Tiger
            </dt>
            <dd>
                Tigers are brave, adventurous, and can be thrillseekers. They are too restless 
                to put up with boredom for very long, and won't mind taking a risk to fulfill their propensity for 
                excitement.
            </dd>
            <dt>
                Rabbit
            </dt>
            <dd>
                Rabbit's are sensitive, secure, and sociable. They are purveyors of the finer 
                things, and demand a high quality of life. They are smart, social, observant, and work to produce 
                harmony around them.
            </dd>
            <dt>
                Dragon
            </dt>
            <dd>
                Dragon's are a spectacle to be noticed. Assertive, outgoing, boisterous, 
                they have a capacity to soar high above typical standards. They are magnetic, and have the ability 
                to succeed in whatever they put their mind too. They can also be prideful and egotistical. They 
                are lucky and have high standards. 
            </dd>
            <dt>
                Snake
            </dt>
            <dd>
                Snakes have a sense of deep wisdom, as well as the gift 
                of gab. They are humorous and sophisticated, as well as mysterious. They value security and take 
                great care of a fine home. 
            </dd>
            <dt>
                Horse
            </dt>
            <dd>
                Horses are very capable at almost anything they put their mind too. Hardworking, 
                independent, and honest, they make a most apt companion. Charming, sociable, and enigmatic, they are 
                very popular also.
            </dd>
            <dt>
                Goat
            </dt>
            <dd>
                Goats are sociable, fun, and value the encouragement of others. They are also 
                very artistic, creative, and sensitive. They are resilient, and gentle. 
            </dd>
            <dt>
                Monkey
            </dt>
            <dd>
                Monkeys are fun, creative and quick-witted. Versatile, clever, and curious, 
                they can also be mischievous and capable of trickery. 
            </dd>
            <dt>
                Rooster
            </dt>
            <dd>
                Roosters are reliable, trustworthy, and direct. Very observant, hardworking, 
                and detail oriented, they can be very successfull in their endeavours. They are punctual, social, 
                and creative.
            </dd>
            <dt>
                Dog
            </dt>
            <dd>
                Dogs are loyal, honest, suspicious, and social. They can be worrisome and have 
                anxiety. They aren't afraid to speak out about injustice. They are cautious and conservative 
                in their approach. 
            </dd>
            <dt>
                Pig
            </dt>
            <dd>
                Pigs are honest, relatable, understanding, and good natured. Because of their 
                trust in others, they can sometimes be taken advantage of. They respect established institution and 
                rules. Also they are spiritual. 
            </dd>
        </dl>
    </section>
</main>
</body>
<script>

</script>
</html>